.AlertBadgeArea {
    position: fixed;
    z-index: 100 !important;
    right: 0px;
}

.AlertBadge {
    background: rgba(255, 89, 89, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px 0px 0px 16px;
    margin-top: 20px;
    padding: 20px 20px 5px 120px;


    background-position: 4px;
    background-image: url('../images/Alert Image.png');
    background-repeat: no-repeat;
    background-size: 90px;

    text-align: left;
    color: white;
    cursor: pointer;

    min-height: 60px;
    width: 170px;
    z-index: 10 !important;
}

.AlertBadge:hover {
    background-color: rgba(133, 45, 45, 0.25);
    z-index: 10 !important;
}