.Background {
    height: 100vh;
    background-color: #000000;
    background-repeat: repeat;
    background-size: 50%;
    padding: 10px;
    opacity: 0.7;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    z-index: 1 !important;
}

.Heading {
    display: block;
    width: 50%;
    height: 134.38px;
    top: 30px;
    margin-left: auto;
    margin-right: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    /* /*line-height: 66px; */
    text-align: center;

    color: #ffffff;

    opacity: 0.9;
}

.AlertText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */

    text-align: justify;
    font-feature-settings: 'cpsp' on, 'ss01' on, 'ss02' on, 'ss05' on, 'ss06' on, 'ss07' on, 'kern' off, 'liga' off;

    color: #ffffff;
}

html, body {
    background-color: #ffd07e;
    color: #ff8018;
}

.page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)), url(../images/nuggetsBackground.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
    width: 100%;
}