.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url(../images/nuggetsBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.contactInfo {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.contactInfo li {
    color: white;
    text-align: left;
    font-size: 20px;
}