.SignupApp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url(../images/nuggetsBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

p {
    color: #FBFBFB;
    line-height: 0.8;
}

.EmailText {
    width: 590px;
    padding: 5px;
    margin-top: 10px;
    outline: none;
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

h1 {
    margin-bottom: 10px;
}