.Background {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(COVID-19-1080x515.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Heading {
    display: block;
    width: 50%;
    height: 134.38px;
    top: 30px;
    margin-left: auto;
    margin-right: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    /* /*line-height: 66px; */
    text-align: center;

    color: #ffffff;

    opacity: 0.9;
}

.AlertText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140.62%;
    /* or 28px */

    text-align: justify;
    font-feature-settings: 'cpsp' on, 'ss01' on, 'ss02' on, 'ss05' on, 'ss06' on, 'ss07' on, 'kern' off, 'liga' off;

    color: #ffffff;

    /*padding-top: 50px;
    padding-bottom: 100px;*/
}

.OtherAlerts {
    background-color: #111111;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.OtherHeading {
    width: 100%;
    height: 34px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 140.62%;
    /* identical to box height, or 34px */

    text-align: center;

    color: #000000;

    /*padding-bottom: 200px;*/
}

.Divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 0px;
    width: 50%;

    border: 1px solid #000000;
}

.Alert1 {
    width: 304px;
    height: 176px;
    left: 230px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.Alert2 {
    width: 304px;
    height: 176px;
    left: 565px;
    padding-top: 1150px;
    padding-bottom: 100px;
}

.Alert3 {
    width: 304px;
    height: 176px;
    left: 900px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.row {
    padding-top: 100px;
    padding-bottom: 150px;
}

.column {
    float: left;
    width: 33.3%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}