.ResultBackground {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background-color: #181716;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ResultImage {
    height: 70%;
}

/* very temporary for demo */
a {
    color: #38b6ff
}